/alert.html
/alert.php
/composer.json
/composer.lock
/Database.txt
/image
/login.php
/main.html
/main.php
/permissionManagement.php
/profile.html
/reportGeneration.html
/reportGeneration.php
/roleManagement.php
/styles
/userManagement.php
/vendor